
@{
    ViewBag.Title = "Unsubscribed";
    Layout = "~/Views/Shared/_Layout_Unsubs.cshtml";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <h4>
                        You have been successfully unsubscribed.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

