################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ASE/.vs
/ASE/bin
/ASE/obj
/ASE/logs
/ASE.API/bin
/ASE.API/obj
/DB
/EmailService/bin/Debug
/EmailService/obj
/EmailService/Packages
/Org.Business.Methods/bin
/Org.Business.Methods/obj
/Org.Business.Objects/bin
/Org.Business.Objects/obj
/Org.Business.Tests/bin/Debug
/Org.Business.Tests/obj/Debug
/Org.DataAccess/bin
/Org.DataAccess/obj
/Org.Utils/bin
/Org.Utils/obj
/packages
/SESBounce/bin/Debug
/SESBounce/obj
