@{
    Layout = "~/Views/Shared/_Layout_Private.cshtml";
    ViewBag.Title = "Private Access";
}


<div class="content animate-panel">

    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">

                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-md-12 text-center">
                            <h2>Private Access</h2>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
